
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<form method="post" action="{% url 'index' %}">
{% csrf_token %}

    <table>
    <tr><th>Nombre</th><th>Descripcion</th><th>Acción</th></tr>
    <tr>
        {% for field in formulario %}
        <td>{{field}}</td>
        {% endfor%}
        <td><button name="guardar">Guardar</button></td>
    </tr>


    {% for feature in features %}
    <tr>
        <td>{{feature.nombre}}</td>
        <td>{{feature.descripcion}}</td>
        <td>
            <button name="editar">Editar</button>
            <button name="borrar">Borrar</button>
        </td>
    </tr>
    {% endfor %}
    </table>
</form>