
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<form method="post" action="{% url 'index' %}">
{% csrf_token %}

    <table>
    <tr><th>Nombre</th><th>Descripcion</th><th>Acción</th></tr>
    {% if not formulario.instance.id %}
    <tr>
        {% include 'guardar.html' %}
    </tr>
    {% endif %}

    {% for feature in features %}
    <tr>
        {% if formulario.instance.id == feature.id %}
        {% include 'guardar.html' %}
        {% else %}
        <td>{{feature.nombre}}</td>
        <td>{{feature.descripcion}}</td>
        <td>
            <button formnovalidate name="editar" value="{{ feature.id }}">Editar</button>
            <button formnovalidate name="borrar" value="{{ feature.id }}" >Borrar</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</form>